*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.body,html{
    height: 100%;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0% auto;
}

.header{
    width: 100%;
    height: 100%;
    margin: 0% auto;
    background-color: #FFFEFC;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 2px 2px 2px #d2d2d2;;
}

.logo{
    width: 50%;
    float: left;
    padding-left: 50px;
    
    
}

.logo > img{
    width: 20%;
    height: auto;
}


.menu{
    width: 50%;
    float: right;
    position: relative;
    padding-right: 60px;
    
   
}

.menu > ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.li-top{
 display: inline-block;
 line-height: 80px;
 font-family: "Montserrat", sans-serif;
 font-optical-sizing: auto;
 font-weight: 600;
 font-style: normal;
 font-size: 1.2rem;
}

.li-bottom{
    display: inline-block;
    line-height: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    
   }

.menu a{
    text-decoration: none;
    color: black;
    
}

.menu ul ul{
    display: none;
}

.menu >ul>li:hover>ul{
    display:block;
    background-color: #fffefcd1;
    position: absolute;
    top: 70px;
    padding-left: 5px;
    padding-right: 10px;
    
}

.toggle-button{
    width: 50%;
    display: none;
    justify-content: flex-end;
    margin-right: 10px;
}

.toggle-button > button{
    width: 70px;
    height: 70px;
    background-color:#FFFEFC;
    border: #FFFEFC;

}

.toggle-button>button>.fa-solid-fa-bars{
    padding-top: 30px;
    padding-top: 30px;
}



.toggle-menu{
    padding-bottom: 20px;
    text-align: center;
    display: none;
    line-height: 50px;
    
    
}

.toggle-menu li > a{
    text-decoration: none;
}

.toggle-menu ul > li > a{
    color: black;
    padding-top: 5px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    
}

.toggle-menu > ul > li{
    padding-top:5px ;
    text-align: center;
    font-size: 25px;
}

.toggle-menu > ul >li >ul li{
    font-size: 15px;
}


.slider{
    width: 100%;
    min-height: 727px;
    background-image: url('../Ergasia-ZHSH-MELINA/eikones/προσοψη/Green\ &\ iQ\ Residential\ Building\ 14\ a\ new\ and\ improved.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 990px 670px;
    background-attachment: fixed;    
      
}

.title{
    width: 50%;
    margin: 0% auto;
    padding-top: 400px;
    padding-bottom: 20px;
    align-items: center;
    color: #ffffff;
    text-shadow: 2px 2px 2px rgb(64, 64, 64);
}

.title > p{
    text-align: center;
    font-size: 35px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}



.subtitle{
    width: 40%;
    margin: 0% auto;
    padding-bottom: 100px;
}

.subtitle > p{
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style:normal;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px rgb(64, 64, 64);

}

.main-section{
    width: 100%;
    margin: 0% auto;
    background-color: #FFFEFC;
}

.main-title{
    width: 100%;
    padding-bottom: 25px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0% auto;
    
}

.main-title > h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.main-text{
    width: 100%;
    margin: 0% auto;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    
    
}

.main-text > p{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
 
}
    

.footer{
    width: 100%;
    margin: 0% auto;
    padding: 10px 20px;
    overflow: hidden;
    background-color: #0000009c;
    display: flex;
    align-items: center;
    
}

.copyright{
    width: 50% ;
    float: right ;
    display: flex;
    align-items: center;
}

.copyright > p {
    color: rgb(255, 255, 255);
    font-size: 0,8rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
    

}
.contact-information{
    width: 50%;
    float: left;
    display: flex-end;
    align-items:start; 
    
}

.contact-information > p{
    color: rgb(255, 255, 255);
    align-items:flex-end;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9rem;
    line-height: 25px;
}

@media(max-width:992px){
    .toggle-button{
        display: flex;
       
    }

    .toggle-menu{
        display: center;      
    }

    
    .menu{
        display: none;
    }


    .logo > img { 
        width: 30%;
    }

    .slider{
      background-position: center  ;
      background-size: 860px 640px;
      min-height: 600px;
      

      
    }

    .title{
        width: 70%;
        margin: 0% auto;
        padding-top: 400px;
        padding-bottom: 20px;
        align-items: center;
        color: #ffffff;
        text-shadow: 2px 2px 2px rgb(64, 64, 64);
    }
    
    .title > p{
        text-align: center;
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    
    
    
    .subtitle{
        width: 30%;
        margin: 0% auto;
        padding-bottom: 10px;
    }
    
    .subtitle > p{
        text-align: center;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style:normal;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(64, 64, 64);
    
    }



    .footer{
        width: 100%;
        margin: 0% auto;
        padding: 10px 10px;
        overflow: hidden;
        background-color: #0000009c;
        display: flex;
        align-items: center;
        
    }
    
    .copyright{
        width: 50% ;
        float: right ;
        display: flex;
        align-items: center;
    }
    
    .copyright > p {
        color: rgb(255, 255, 255);
        font-size: 0,8rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        line-height: 20px;
        
    
    }
    .contact-information{
        width: 50%;
        float: left;
        display: flex-end;
        align-items: center; 
    }
    
    .contact-information > p{
        color: rgb(255, 255, 255);
        align-items: flex-end;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        line-height: 20px;
    }

}


@media(max-width:500px){

    .logo > img { 
        width: 50%;
        
    }

    .slider{
      background-position: center;
      background-size: 760px 605px;
      border: 3px solid rgba(255, 255, 255, 0.736);
      min-height: 600px;

      
    }

    .title{
        width: 70%;
        margin: 0% auto;
        padding-top: 300px;
        padding-bottom: 20px;
        align-items: center;
        color: #ffffff;
        text-shadow: 2px 2px 2px rgb(64, 64, 64);
        
    }
    
    .title > p{
        text-align: center;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }
    
    
    
    .subtitle{
        width: 30%;
        margin: 0% auto;
        padding-bottom: 10px;
    }
    
    .subtitle > p{
        text-align: center;
        font-size: 15px;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 550;
        font-style:normal;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(64, 64, 64);
    
    }



    .footer{
        width: 100%;
        margin: 0% auto;
        padding: 10px 10px;
        overflow: hidden;
        background-color: #0000009c;
        display: flex;
        align-items: center;
        
    }
    
    .copyright{
        width: 50% ;
        float: right ;
        display: flex;
        align-items: center;
    }
    
    .copyright > p {
        color: rgb(255, 255, 255);
        font-size: 0,8rem;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        line-height: 15px;
        
    
    }
    .contact-information{
        width: 50%;
        float: left;
        display: flex-end;
        align-items: center; 
    }
    
    .contact-information > p{
        color: rgb(255, 255, 255);
        align-items: flex-end;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
        font-size: 0.8rem;
        line-height: 20px;
    }

}
    